SELECT asegurado.NombreAsegurado, 
    	   DATEDIFF(YEAR, asegurado.FechaNacimiento, GETDATE()) Edad,
    	   CASE
    	   	WHEN asegurado.TipoPersona = 'Moral' THEN 'Persona Moral'
    	   	WHEN asegurado.Sexo = 1 THEN 'Masculino'
    	   	WHEN asegurado.Sexo = 2 THEN 'Femenino'
    	   	ELSE 'Otro' END Genero,
			--daños.IdSubclasificacionProducto,
    	   	asegurado.NombreEstado,
			--SUM(tecnica.PrimaNetaPropiaSinCoaseguro),
			--SUM(tecnica.UnidadesEmitidasReales),
    	   	FORMAT(SUM(tecnica.PrimaNetaPropiaSinCoaseguro)/SUM(tecnica.UnidadesEmitidasReales),'C', 'es-MX') 'Prima promedio'
    	   -- daños.NumCompletoCotizacion
    FROM TB_BI_DanFactEmisionDoc  daños
       	INNER JOIN TB_DWH_DanBaseTecnica tecnica
       		ON tecnica.NumCompletoCotizacion=daños.NumCompletoCotizacion
       		AND tecnica.NumDocumento=daños.NumDocumento
    	INNER JOIN	TB_BI_DimAsegurado asegurado 
    		ON asegurado.CveAsegurado = daños.CveAsegurado
    WHERE tecnica.Periodo >= 202401
    	AND daños.IdClasificacionProducto = 11 -- Clasificacion para solo de Casas
    	AND daños.IdSubclasificacionProducto IN (2,3,4,5)
      
    GROUP BY
    	   asegurado.NombreAsegurado, 
    	   DATEDIFF(YEAR, asegurado.FechaNacimiento, GETDATE()),
    	   CASE
    	   	WHEN asegurado.TipoPersona = 'Moral' THEN 'Persona Moral'
    	   	WHEN asegurado.Sexo = 1 THEN 'Masculino'
    	   	WHEN asegurado.Sexo = 2 THEN 'Femenino'
    	   	ELSE 'Otro' END,
			--daños.IdSubclasificacionProducto,
    	   	asegurado.NombreEstado
	HAVING SUM(tecnica.UnidadesEmitidasReales) > 0  
	--ORDER BY SUM(tecnica.PrimaNetaPropiaSinCoaseguro) DESC
/** 

SELECT TOP 10* FROM TB_BI_DanFactEmisionDoc  daños where daños.IdGiro = 31731

SELECT TOP 10* FROM TB_DWH_DanBaseTecnica tecnica

Select * from VW_Bi_DimCLasificacionProductos

SELECT * FROM TB_BI_DimAsegurado where no

SELECT * FROM Tb_BI_DimActividadGiro



SELECT NombreAsegurado, NombreEstado, DATEDIFF(YEAR, FechaNacimiento, GETDATE()) Edad, FechaNacimiento, Sexo, Actividad, TipoPersona

FROM TB_BI_DimAsegurado WHERE TipoPersona = 'Moral'


SELECT * FROM TB_BI_DimAsegurado WHERE CveAsegurado = '02|CPM180529EZ3'


SELECT TOP 10* FROM TB_DWH_DanBaseTecnica tecnica
 
**/