

SELECT *
FROM Dshd.Vw_bi_GrlEmiCotizaciones_Estadistica AS vc
LEFT JOIN VW_BI_DimVehiculo tv ON vc.IdVehiculoInterno = tv.IdVehiculoInterno
WHERE tv.IdTipoVehiculo = 22809 AND vc.FechaCotizacion >= 20240101

/** -----------------------              Cotizacoines Fltillas      ------------------------------- **/

SELECT *
FROM Dshd.Vw_DWH_AutrMasivosSuscripcion_Impacto --order by newid()
 GROUP by IdOt
 HAVING
	COunt(*)>1

SELECT top 10*
FROM Dshd.VW_DWH_AutrEmisionFlotillas_Impacto

SELECT distinct EstatusSuscripcion
FROM Dshd.Vw_DWH_AutrMasivosSuscripcion_Impacto

SELECT 
	FORMAT(query.TiempoAltaOt,'dd/MM/yyyy'	) TiempoAltaOt,
	query.IdOficinaEmision,
	CASE
		WHEN TipoDocumento in ('Claveteo y Cotización','Claveteo y Cotización MODA','Recotización') THEN 'Nuevo'
		WHEN TipoDocumento in ('Registro Renovación') THEN 'Renovado'
	END 'Renovacion',
	--EstatusSuscripcion,
	COUNT(idOT) 'Cotizacion',
	COUNT(subquery.OT_Cotizacion) 'Emision'
	
FROM   Dshd.Vw_DWH_AutrMasivosSuscripcion_Impacto query
LEFT JOIN (
	SELECT
		DISTINCT OT_Cotizacion
	FROM Dshd.VW_DWH_AutrEmisionFlotillas_Impacto
) subquery
ON query.IdOT = subquery.OT_Cotizacion
	WHERE
		Direccion in ('Bajio - Occidente','Mexico - Sur','Norte')
		and YEAR(TiempoAltaOT)in (2023,2024)
		--and EstatusSuscripcion = 'Terminado'
GROUP BY
	FORMAT(query.TiempoAltaOt,'dd/MM/yyyy'),
	query.IdOficinaEmision,
	CASE
		WHEN TipoDocumento in ('Claveteo y Cotización','Claveteo y Cotización MODA','Recotización') THEN 'Nuevo'
		WHEN TipoDocumento in ('Registro Renovación') THEN 'Renovado'
	END,
	EstatusSuscripcion
------------------------------------  Negocio, Tipo de Negocio ---------------------------------------------
SELECT 
	idOT,
	FORMAT(TiempoAltaOt,'dd/MM/yyyy'	) TiempoAltaOt,
	NipPerfilAgente,
	RfcMasivo,
	NumUnidades,
	SUM(PrimaTotal)
	
FROM   Dshd.Vw_DWH_AutrMasivosSuscripcion_Impacto query
	WHERE
		Direccion in ('Bajio - Occidente','Mexico - Sur','Norte')
	and YEAR(TiempoAltaOt) >= 2023
GROUP BY
	idOT,
	FORMAT(TiempoAltaOt,'dd/MM/yyyy'),
	NipPerfilAgente,
	RfcMasivo,
	NumUnidades


---------------            COTIZACIONES / POLIZAS                 ----------------------------------

	SELECT vc.NipPerfilAgente, dim.NombreAgente, dim.IdTipoAgente,
		   count(DISTINCT(vc.NumCompletoCotizacion)) Cotizaciones, 
		   sum(vc.PLZ) Polizas
	FROM Dshd.Vw_bi_GrlEmiCotizaciones_Estadistica AS vc
	LEFT JOIN TB_BI_DimAgente dim ON vc.NipPerfilAgente = dim.NipPerfilAgente
	WHERE vc.FechaCotizacion between 20240101 and 20241231	
		--AND dim.nipperfilagente in (SELECT nipperfilagente FROM tb_bi_dimagente where nombreagente = 'HDI SEGUROS SA DE CV')
		and dim.nombreagente = 'HDI SEGUROS SA DE CV'
		--and vc.
	GROUP BY vc.NipPerfilAgente, dim.NombreAgente, dim.IdTipoAgente
	ORDER BY Polizas, Cotizaciones DESC
	
---------------------------------------------------------------------------------------------------
		
SELECT distinct idtipopoliza
FROM Dshd.Vw_bi_GrlEmiCotizaciones_Estadistica
WHERE NipPerfilAgente = 68002

SELECT TOP 20* FROM TB_BI_DimAgente

SELECT TOP 15* 
FROM DWH.Tb_bi_AutrEmiCotiz ORDER BY TiempoCotizacion desc


SELECT TOP 10* FROM TB_BI_AutrFactEmisionDoc au 
	WHERE au.IdTipoConservacion AND au.IdTipoPoliza --> Tipo póliza

SELECT TOP 10* FROM TB_BI_DanFactEmisionDoc 

SELECT *
FROM TB_Bi_DimTipoConservacion  --Nueva/Conservada (IdTipoConservacion)

SELECT *
FROM TB_BI_DimTipoPoliza	-- Individual/Flotilla (IdTipoPoliza)

------------------------- COTIZACIONES NO EMITIDAS, de esas Vueltas a cotizasr y se emitieron ---------------------------


