--SELECT DISTINCT IdTipoConservacion FROM TB_BI_AutrFactEmisionDoc

SELECT
	autos.NipPerfilAgente AS IdAgente,	
	tc.DescGrupoConservacion AS Conservacion,
	Sum(tecnica.UnidadesEmitidasReales) Emitida,
	Sum(CASE WHEN tecnica.UnidadesEmitidasReales < 0 THEN tecnica.UnidadesEmitidasReales ELSE 0 END)*-1 AS Cancelaciones,
	Sum(CASE WHEN tecnica.UnidadesEmitidasReales > 0 THEN tecnica.UnidadesEmitidasReales ELSE 0 END) AS Emisiones,
	Sum(tecnica.PrimaNetaPropiaSinCoaseguro) 'Prima Neta',
	Sum(tecnica.Ocurrido) ocurrido,
	Sum(tecnica.PrimaNetaPropiaEmitidaDevengada) devengado

FROM
	TB_BI_AutrFactEmisionDoc autos 
	INNER JOIN TB_BI_AutrBase2Tecnica tecnica 	
		ON autos.NumCompletoCotizacion = tecnica.NumCompletoCotizacion
		AND autos.NumDocumento = tecnica.NumDocumento
	LEFT JOIN TB_Bi_DimTipoConservacion tc 
		ON tc.IdTipoConservacion = autos.IdTipoConservacion
WHERE
 	autos.IdTipoVehiculo = 22809 
 	AND autos.IdTipoPoliza = 4013
 	AND tc.IdTipoConservacion = 0 -- 0 nuevas
 	AND tecnica.Periodo BETWEEN 202407 AND 202410	
 	AND autos.NipPerfilAgente
 		 IN (10108,10161,101739,101810,101821,102834,103066,104499,
			105073,105154,105521,21208,21224,21252,5152,5164,
			51737,52189,5227,52753,52983,53250,53353,53630,
			54724,54776,54892,55101,55101,55468,56292,56310,
			58232,58255,58538,58747,5975,63207,63367,65026,
			65214,66008,66139,66334,67196,67362,67413,67419,
			67465,67712,67944,68314,68544,69576,69995,70243,
			70313,70391,91849,92047,92276,93512,93655,94401,
			95429,95538,96021,96880,97078)

GROUP BY
	autos.NipPerfilAgente, tc.DescGrupoConservacion
ORDER BY autos.NipPerfilAgente--, tc.DescGrupoConservacion