--SELECT DISTINCT IdTipoConservacion FROM TB_BI_AutrFactEmisionDoc


SELECT
	DISTINCT autos.NumCompletoCotizacion,
	autos.NipPerfilAgente AS IdAgente,	
	tc.DescGrupoConservacion AS Conservacion,
	tecnica.UnidadesEmitidasReales Emitida,
	--autos.NumCompletoCotizacion,
	autos.NumDocumento,
	CASE WHEN tecnica.UnidadesEmitidasReales < 0 THEN tecnica.UnidadesEmitidasReales ELSE 0 END *-1 AS Cancelaciones,
	CASE WHEN tecnica.UnidadesEmitidasReales > 0 THEN tecnica.UnidadesEmitidasReales ELSE 0 END AS Emisiones,
	tecnica.PrimaNetaPropiaSinCoaseguro 'Prima Neta'

FROM
	TB_BI_AutrFactEmisionDoc autos 
	INNER JOIN TB_BI_AutrBase2Tecnica tecnica 	
		ON autos.NumCompletoCotizacion = tecnica.NumCompletoCotizacion
		AND autos.NumDocumento = tecnica.NumDocumento
	LEFT JOIN TB_Bi_DimTipoConservacion tc 
		ON tc.IdTipoConservacion = autos.IdTipoConservacion
WHERE
 	autos.IdTipoVehiculo = 22809 
 	AND autos.IdTipoPoliza = 4013
 	AND tc.IdTipoConservacion = 0 -- 0 nuevas
 	AND tecnica.Periodo BETWEEN 202406 AND 202408
 	AND autos.NipPerfilAgente
 		 IN (94401)
