/* ----------------------------------   DAÑOS   ------------------------------------------- */

SELECT emi.NipPerfilAgente,
		emi.NipAgente,
		sum(tec.PrimaNetaPropiaSinCoaseguro) AS Prima_a_Renovar

 
FROM TB_BI_DanFactEmisionDoc AS emi
INNER JOIN TB_DWH_DanBaseTecnica AS tec	
ON tec.NumCompletoCotizacion=emi.NumCompletoCotizacion
AND tec.NumDocumento=emi.NumDocumento
 
WHERE CAST(concat(LEFT(emi.FechaFinVigencia,4),substring(CONVERT(char(8), emi.FechaFinVigencia, 112),5,2)) AS INTEGER) BETWEEN 202410 AND 202412
 
GROUP BY emi.NipPerfilAgente,
		emi.NipAgente;
	

		
SELECT 
		dage.RFC,
		dage.NombreAgente,
		sum(tec.PrimaNetaPropiaSinCoaseguro) AS Prima_a_Renovar 
FROM TB_BI_DanFactEmisionDoc emi
INNER JOIN TB_DWH_DanBaseTecnica tec	
	ON tec.NumCompletoCotizacion=emi.NumCompletoCotizacion
	AND tec.NumDocumento=emi.NumDocumento
LEFT JOIN TB_BI_DimAgente dage	
	ON dage.NipPerfilAgente = emi.NipPerfilAgente	
 
WHERE CONVERT(DATE, emi.FechaFinVigencia, 23) BETWEEN '2024-10-01' AND '2024-12-31'
 
GROUP BY dage.RFC, dage.NombreAgente

/* ------------------------------------------------------------------------------------- */

SELECT TOP 50* FROM TB_BI_DanFactEmisionDoc ORDER BY FechaContrato desc
SELECT TOP 10* FROM TB_DWH_DanBaseTecnica

SELECT TOP 10* FROM TB_BI_AutrFactEmisionDoc
SELECT TOP 10* FROM TB_BI_AutrBase2Tecnica

SELECT * FROM TB_BI_DimAgente WHERE NipPerfilAgente = 93628
SELECT * FROM TB_BI_DimEjecutivo where idejecutivo = 430004890

SELECT * FROM TB_BI_DimTipoDocumento

/** ------------------------   AUTOS   --------------------------------------- **/

SELECT 
		dage.RFC, 
		sum(tec.PrimaNetaPropiaSinCoaseguro) AS Prima_a_Renovar
 
FROM TB_BI_AutrFactEmisionDoc emi
INNER JOIN TB_BI_AutrBase2Tecnica tec	
	ON tec.NumCompletoCotizacion=emi.NumCompletoCotizacion
	AND tec.NumDocumento=emi.NumDocumento
LEFT JOIN TB_BI_DimAgente dage	
	ON dage.NipPerfilAgente = emi.NipPerfilAgente
	
 
WHERE CONVERT(DATE, emi.FechaFinVigencia, 23) BETWEEN '2024-10-01' AND '2024-12-31'
 
GROUP BY dage.RFC

/** ------------------------------------------------------------------------- **/

SELECT * FROM TB_DWH_GMMCEmitidoAcumulado_CargaDiaria WHERE Oficina = 008 AND NPOLIZA = 100		   -- Colectivo
SELECT TOP 3* FROM TB_DWH_GmmcEmitidoCancelaciones_CargaDiaria     -- Colectivo
SELECT TOP 3* FROM TB_DWH_GmmcRecibosCobrados_CargaDiaria		   -- Colectivo


SELECT TOP 3* FROM TB_DWH_GMMEmitidoCancelaciones_CargaDiaria		   
SELECT TOP 3* FROM TB_DWH_GMMEmitidoAcumulado_CargaDiaria  
SELECT TOP 3* FROM TB_DWH_GMMRecibosCobrados_CargaDiaria		   

SELECT TOP 3* FROM Dshd.VW_DWH_GMMPrimaNeta

/** ------------------------   Gastos Medicos Mayores ----------------------- **/

SELECT 
	dage.RFC, 
	sum(gmm.Prima_Total) AS 'Prima a Renovar'
FROM Dshd.VW_DWH_GMMPrimaNeta gmm
LEFT JOIN TB_BI_DimAgente dage ON dage.NipAgente = gmm.NAgente
WHERE CONVERT(INT, gmm.FechaFinVigencia) BETWEEN 20241001 AND 20241231
	--AND gmm.NAgente = 
GROUP BY dage.RFC

Select 
 Top 10*
FROM TB_BI_DanFactEmisionDoc dan
 INNER JOIN TB_DWH_DanBaseTecnica tec
   ON tec.NumCompletoCotizacion=dan.NumCompletoCotizacion
   AND tec.NumDocumento=dan.NumDocumento
SELECT * FROM tb_BI_dimgpoBono
SELECT * FROM TB_BI_DimGrlRamos
