SELECT TOP 100
		dage.NombreAgente,
	   --	sum(tec.PrimaNetaPropiaSinCoaseguro) Prima,
		rank() OVER ( ORDER BY sum(tec.PrimaNetaPropiaSinCoaseguro) desc) AS rankeo 
FROM TB_BI_DanFactEmisionDoc emi
INNER JOIN TB_DWH_DanBaseTecnica tec	
	ON tec.NumCompletoCotizacion=emi.NumCompletoCotizacion
	AND tec.NumDocumento=emi.NumDocumento
LEFT JOIN TB_BI_DimAgente dage	
	ON dage.NipPerfilAgente = emi.NipPerfilAgente	
 
WHERE tec.Periodo >= 202309 AND tec.Periodo <= 202408
	   AND dage.IdTipoAgente = 19 AND NOT dage.NombreAgente LIKE '%HDI%'
 
GROUP BY dage.NombreAgente
--ORDER BY rankeo DESC

/**

SELECT TOP 100* FROM TB_BI_DanFactEmisionDoc

SELECT TOP 100* FROM  TB_DWH_DanBaseTecnica 

**/