

SELECT
	--LEFT(CAST(tecnica.Periodo AS VARCHAR(6)), 4) AS Año, 
	tecnica.Periodo / 100 AS Año,
	CASE
		WHEN autos.IdTipoConservacion = 0 THEN 'Nueva'
		WHEN autos.IdTipoConservacion > 0 THEN 'Conservada'
		ELSE 'Err' END AS Tipo_Conservacion,
	CASE
		WHEN autos.IdTipoPoliza = 4013 THEN 'Individual'		
		ELSE 'Flotilla' END AS Tipo_Poliza, 
	Sum(tecnica.UnidadesEmitidasReales) Emitida,
	Sum(tecnica.PrimaNetaPropiaSinCoaseguro) 'Prima Neta'

FROM
	TB_BI_AutrFactEmisionDoc autos 
	INNER JOIN TB_BI_AutrBase2Tecnica tecnica 	
		ON autos.NumCompletoCotizacion = tecnica.NumCompletoCotizacion
		AND autos.NumDocumento = tecnica.NumDocumento
WHERE
 	autos.IdTipoVehiculo = 22809 
 	AND tecnica.Periodo BETWEEN 202407 AND 202409
GROUP BY
	--LEFT(CAST(tecnica.Periodo AS VARCHAR(6)), 4),
	tecnica.Periodo / 100,
	CASE
		WHEN autos.IdTipoConservacion = 0 THEN 'Nueva'
		WHEN autos.IdTipoConservacion > 0 THEN 'Conservada'
		ELSE 'Err' END,
	CASE
		WHEN autos.IdTipoPoliza = 4013 THEN 'Individual'		
		ELSE 'Flotilla' END


/** ------------------------------------------------------------------------------------------ 

SELECT TOP 15* FROM TB_BI_DimAgente WHERE	NombreAgente LIKE '%AARCO%'

SELECT * FROM TB_BI_DimAgente WHERE NipAgente =  387

SELECT TOP 10* FROM TB_BI_AutrFactEmisionDoc au 
		WHERE au.IdTipoConservacion AND au.IdTipoPoliza --> Tipo póliza
				AND au.IdTipoVehiculo

SELECT TOP 15* FROM TB_BI_AutrBase2Tecnica

SELECT * FROM TB_BI_DimOficina where nombreOficinaComercial like '%satellite%'


SELECT * FROM TB_Bi_DimTipoConservacion  --Nueva/Conservada (IdTipoConservacion)

SELECT * FROM TB_BI_DimTipoPoliza	-- Individual/Flotilla (IdTipoPoliza)

SELECT * FROM VW_BI_DimVehiculo

SELECT TOP 10 (Periodo/100) AS Año   FROM TB_BI_AutrBase2Tecnica au 
SELECT DISTINCT au.IdTipoPoliza FROM TB_BI_AutrFactEmisionDoc au

 --------------------------------------------------------------------------------------- **/

SELECT
	autos.NipPerfilAgente AS IdAgente,	
	Sum(tecnica.UnidadesEmitidasReales) Emitida,
	Sum(tecnica.PrimaNetaPropiaSinCoaseguro) 'Prima Neta'

FROM
	TB_BI_AutrFactEmisionDoc autos 
	INNER JOIN TB_BI_AutrBase2Tecnica tecnica 	
		ON autos.NumCompletoCotizacion = tecnica.NumCompletoCotizacion
		AND autos.NumDocumento = tecnica.NumDocumento
WHERE
 	autos.IdTipoVehiculo = 22809 
 	AND tecnica.Periodo BETWEEN 202407 AND 202409
 	AND autos.NipPerfilAgente
 		 IN (5227,5164,5152,65026,101821,5975,67944,5226,58255,70243,10108,102834,104499,51737,52983,67465,
56292,105154,54776,66008,94401,10161,52189,66334,53353,105073,91849,96021,55101,68314,95429,66139,
92047,54892,101027,67196,107044,52753,69995,105521,56310,58538,105521,10108,102834,101810,70313,
97078,65214,104499,51737,56310,52983,67465,56292,103066,105154,58538,54776,66008,94401,10161,52189,
66334,53353,93655,104778,105073,93512,91849,96021,55101,68314,95429,66139,92047,54892,101027,67196,
107044,52753,69995,59260,97999,58159,50599,56403,108665,1059,1265,93810,51413,1216,55157,55656,2123,
55165,1699,59186,55779,1068,50148,2018,54149,50057,55166,55069,3016,52381,96088,101839,55937,1908,
91833,2032,94241,98043,64515,1164,51249,1134,97404,55842,54845,63311,90374,64840,51810,90399,90392,
58402,101811,52551,95389,97459,65713,6462,95609,53446,55030,57927,52129,63534,56200,6963,105086,
50624,8015,6148,99314,64863,93342,51819,52775,93599,67375,53751,98111,52649,57332,57150,60189)

GROUP BY
	autos.NipPerfilAgente

-----------------------------------------------------------------------------------------------

SELECT
	autos.NipPerfilAgente AS IdAgente,	
	Sum(tecnica.UnidadesEmitidasReales) Emitida,
	Sum(tecnica.PrimaNetaPropiaSinCoaseguro) 'Prima Neta'

FROM
	TB_BI_AutrFactEmisionDoc autos 
	INNER JOIN TB_BI_AutrBase2Tecnica tecnica 	
		ON autos.NumCompletoCotizacion = tecnica.NumCompletoCotizacion
		AND autos.NumDocumento = tecnica.NumDocumento
WHERE
 	autos.IdTipoVehiculo = 22809 
 	AND tecnica.Periodo BETWEEN 202407 AND 202409
 	AND autos.NipPerfilAgente
 		 IN (65607,65973,54483,91936,54086,53707,58421,57090,92272,101855,105538,53224,108440,51869,99848,56881,
			105745,93547,55083,92289,102292,53711,61842,65518,52289,63594,65495,91436,59603,50653,103105,58761,
			69172,53960,51454,63255,103476,104626,91806,104926,63210,64162,69173,105897,105909,95781,97137,97421,
			53697,65019,91792,56888,65115,53381,59508,98368,57446,53797,98968,54298,103640,61354,61244,51954,
			61864,59143,54301,59733,53651,57085,53647,53646,92271,51423,59737,60738,53543,53358,98311,99399,
			90221,97589,64860,90668,93325,63593,103233,59525,53899,63542,56560,50040,98756,65591,93329,9137,
			63465,61166,55811,91818,57084,55472,64154,9594,61067,92680,69645,95782,97590,66173,69106,51886,
			63094,101739,92276,67413,53630,63367,96880,67362,54724,68544,58747,67419,95538,21252,69576,21208,
			63207,55468,53250,58232,67712,70391,21224)

GROUP BY
	autos.NipPerfilAgente